.photo-size {
    width: 250px;
    height: 250px;
    border: 1px solid palevioletred;
    border-radius: 5px;
}

.user-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 15px;
    border: 2px solid purple;

    border-radius: 8px;


}

.new-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}