.photo-size {
    width: 250px;
    height: 250px;
    border: 1px solid palevioletred;
    border-radius: 5px;
}

.user-container {
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 15px;


}