.photo-size {
    width: 250px;
    height: 250px;
    border: 1px solid palevioletred;
    border-radius: 5px;
}

.user-container {
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 15px;
    border: 2px solid purple;
    margin: 10px;


}