.flex-container {
    display: flex;
    background-color: wheat;
    padding-bottom: 20px;
    align-items: center;


}

.flex-container img {
    width: 80%;
    margin-top: 10px;
    margin-left: 25px;

}

.explore-product {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin-left: 30px;

}

.explore-product p {
    font-weight: 200;
}

.product-color {
    color: orange
}