.header-container {
    background-color: rgba(0, 0, 0, 0.798);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.project-name {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: aqua;
}

.header-container .link-color {
    text-decoration: none;
    margin-left: 10px;
    font-weight: 400;
    color: white;
}

.link-color:hover {
    color: orange;
}